/* ===== Google Font Import - Poppins ===== */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  transition: all 0.4s ease;
}

/*------------navbar-----------*/
/* ===== Colours ===== */
:root {
  --body-color: #fff;
  --nav-color: #ff6700;
  --side-nav: #010718;
  --text-color: #fff;
  --search-bar: #f2f2f2;
  --search-text: #010718;
}

body {
  height: 100vh;
  background-color: var(--body-color);
}

body.dark {
  --body-color: #333;
  --nav-color: #242526;
  --side-nav: #242526;
  --text-color: #ccc;
  --search-bar: #242526;
}

/*-------------navbar-----------*/
nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}

body.dark nav {
  border: 1px solid #393838;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1000px;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .logo a {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  margin: 0 5px;
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
}

.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.dark-light i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark-light i.sun {
  opacity: 0;
  pointer-events: none;
}

.dark-light.active i.sun {
  opacity: 1;
  pointer-events: auto;
}

.dark-light.active i.moon {
  opacity: 0;
  pointer-events: none;
}

/*--------------menu navlink animation bouncing--------*/
.blink {
  animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
  0%,
  50%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

/*------------navbar responsive ---------*/
@media (max-width: 790px) {
  nav .nav-bar .sidebarOpen {
    display: block;
  }

  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: var(--side-nav);
    z-index: 100;
    transition: all 0.4s ease;
  }

  nav.active .menu {
    left: -0%;
  }

  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-toggle .siderbarClose {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }

  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 30px;
  }

  .nav-links li a {
    display: block;
    margin-top: 20px;
  }
  /*-------hide language translation----*/
  .options label {
    display: none;
  }
  select {
    display: none;
  }
}

/*-------------slide image-----------*/
.slideshow {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 20px;
}

.slide-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.slide-image.active {
  opacity: 1;
}

/*------------search bar in slide show image----------*/
.search-bar {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.search-bar input {
  width: 50px;
}

.search-bar button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}

/*------------------carousel preview arrow------------*/
/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #262626;
} */

/*----------------carousel resize image-----------*/
/* .carousel-inner img {
  height: 600px;
} */

/*-------------- 8 images------------*/
/*----------------gallery----------*/
.cases {
  background-color: #f5f5f5;
  padding: 40px;
}

.cases .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cases .column {
  flex-basis: calc(33.33% - 20px);
  margin-bottom: 20px;
}

.cases .column a {
  display: block;
  position: relative;
  overflow: hidden;
}

.cases .column img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.cases .column img:hover {
  transform: scale(1.1);
}

.cases .column h3 {
  text-align: center;
  margin-top: 10px;
}

.cases .section-header {
  text-align: center;
  margin-bottom: 40px;
}

.cases .section-header h4 {
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
}

.cases .section-header h2 {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
}

.cases .section-header p {
  font-size: 14px;
  color: #666;
  margin-bottom: 0;
}

/*-------------------testimonials of 3 images----------------*/
#section-testimonials {
  background-color: #f4f4f4;
  padding: 2rem 0;
  text-align: center;
}

.section-testimonials {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.header-testimonials {
  margin-bottom: 2rem;
}

.header-testimonials h1 {
  font-size: 2rem;
  color: #333;
}

.header-testimonials p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

.reviewSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.reviewItem {
  width: 300px;
  margin: 1rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.2s, background-color 0.2s;
}

.reviewItem:hover {
  transform: scale(1.05);
  background-color: #f4f4f4;
}

.clientImage {
  display: flex;
  align-items: center;
  justify-content: center;
}

.clientImage img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.clientImage span {
  font-weight: bold;
  color: #333;
}

ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

ul li {
  font-size: 1rem;
}

article p {
  font-size: 1rem;
  color: #666;
  line-height: 1.6;
}

article p:last-child {
  margin-bottom: 0;
}

/*-------testimonial animation-----------*/
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s infinite;
}

/*------------------footer------------------*/
#main-footer {
  background-color: #fff;
  color: #000;
  padding: 2rem 0;
  margin-top: 10rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.sub-footer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.first-class,
.second-class,
.third-class {
  flex: 1;
  margin: 0 1rem;
}

#footer-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#first-class-paragraph,
.social,
.class-link {
  color: #ccc;
  font-size: 0.9rem;
  line-height: 1.6;
}

.class-link a {
  text-decoration: none;
  display: block;
  color: #ccc;
  margin: 5px 0;
  transition: color 0.2s;
}

.class-link a:hover {
  color: #fff;
}

.social a {
  color: #333;
  margin-right: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.2s;
}

.social a:hover {
  color: #fff;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .first-class,
  .second-class,
  .third-class {
    flex: none;
    width: 100%;
    margin: 0 0 1.5rem;
    text-align: center;
  }
}

/*------------------contact form in about page--------------*/

#contactForm {
  margin-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Roboto", sans-serif;
  color: #000;
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
a,
a:hover {
  text-decoration: none !important;
}

.text-black {
  color: #000;
}

.content {
  padding: 7rem 0;
}

.heading {
  font-size: 2.5rem;
  font-weight: 900;
}

.form-control {
  border: none;
  background: #f3f3f3;
}
.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
  background: #f3f3f3;
}

.col-form-label {
  color: #000;
}

.btn,
.form-control,
.custom-select {
  height: 50px;
}

.custom-select:active,
.custom-select:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #000;
}

.btn {
  border: none;
  border-radius: 4px !important;
}
.btn.btn-primary {
  background: #000;
  color: #fff;
  padding: 15px 20px;
}
.btn:hover {
  color: #fff;
}
.btn:active,
.btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.box {
  padding: 40px;
  background: #fff;
  -webkit-box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
  box-shadow: -30px 30px 0px 0 rgba(0, 0, 0, 0.08);
}
.box h3 {
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
}

label.error {
  font-size: 12px;
  color: red;
}

#message {
  resize: vertical;
}

#form-message-warning,
#form-message-success {
  display: none;
}

#form-message-warning {
  color: #b90b0b;
}

#form-message-success {
  color: #55a44e;
  font-size: 18px;
  font-weight: bold;
}

.submitting {
  float: left;
  width: 100%;
  padding: 10px 0;
  display: none;
  font-weight: bold;
  font-size: 12px;
  color: #000;
}

/*-----------------about us page-------------*/

#about {
  margin-top: 5rem;
}

.about h1 {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.about p {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

.developers .developer-title {
  text-align: center;
}

.developers {
  display: flex;
  justify-content: center;
}

.developers img {
  width: 400px;
  padding: 50px;
  border-radius: 70px;
}

/*------------cards animation-------------*/
.card {
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.card img {
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
}

/*-------------cards responsive-------------*/
@media (max-width: 768px) {
  .developers {
    flex-direction: column;
    align-items: center;
  }
  .card {
    margin: 10px auto;
  }
}

/*-------------community---------------*/

.community {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.community .btn {
  background-color: #0d6efd;
  margin-top: 20px;
  color: #fff;
}

.community h4 {
  margin-top: 2rem;
  font-size: 20px;
}

/*------------------change language------------*/
.options label {
  color: #fff;
}

/*--------------search food-------------*/

.results-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.food-card {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  text-align: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.food-card.show {
  opacity: 1;
  transition: all 3s;
  transition-delay: 0.3s;
  margin-top: 2rem;
}

.food-image {
  max-width: 100%;
  height: auto;
}

.food-recipe {
  margin-top: 10px;
}

.load-more-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  position: relative;
}

#loadMoreButton {
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.search-menu {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.search-menu button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  border: 1px solid #333;
  margin-left: 5px;
}

.search-menu input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  border: 1px solid #333;
}
/* Add these CSS styles for the spinner and animation */
.spinner {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
  display: none;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*----------------ERROR FOR FETCHING DATA OF SEARCH FOOD---------------*/
/* .error-card {
  display: flex;
  justify-content: center;
  align-content: center;
  align-self: center;
  align-items: center;
  background-color: #da1717;
  color: #fff;
  width: 50%;
  height: 500px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  margin-top: 100px;
} */
